.tutorial-page-spells {
    display: flex;
    flex-direction: column;
    color:gainsboro;
    font-weight: bolder;
}

.tutorial-page-spells-row {
    display: flex;
    flex-direction: row;
}
.tutorial-page-spell-box {
    border:1px solid gainsboro;
    margin:5px;
    width:48px;
    height:48px;
    background: #0F2027;
}

.tutorial-page-spell-box-filled {
    border:1px solid gainsboro;
    margin:5px;
    width:48px;
    height:48px;
    background:darkcyan;
    opacity: 0.9;
}
.tutorial-page-spell-item-image {
    width:48px;
    height:48px;
    margin:5px;
}

@media (max-width: 620px) {
    .tutorial-page-spells {
        flex-direction: row;
        }
    .tutorial-page-spells-row {
        flex-direction: column;
    }
  }