.navbar {
  background: black;
}
nav {
  display: block;
}

.navbar .toggle, .navbar .brand {
  display: inline-block;
}
.navbar .link {
  display: block;
  text-align: center;
  padding: 1em;
  text-decoration: none;
  color: white;
}
.navbar-image {
 text-decoration: none;
}
.navbar .link:hover, .navbar .link:active .link:focus .link:visited {
  background: azure(218, 206, 206);
  text-decoration: none;
  color:gainsboro;
}
.navbar .brand {
  width: 10em;
  text-align: center;
  color: darkcyan;
  font-weight: bolder;
  background: black;
  text-transform: uppercase;
}
.navbar .toggle {
  padding: 1em;
  color: gainsboro;
}

@media (min-width: 48em) {
  .navbar {
    display: flex;
  }
  .navbar .left, .navbar .right {
    display: flex;
    flex: 1 0 0;
  }
  .navbar .link {
    max-width: inherit;
  }
  .navbar .right {
    justify-content: flex-end;
  }
  .navbar .toggle {
    display: none;
  }
}
.navbar div {
  display: none;
}
@media (min-width: 48em) {
  .navbar div {
    display: flex;
  }
}

@media (max-width: 48em) {
  .navbar.active .toggle {
    background: seagreen;
    color: white;
  }
  .navbar-image {
    display: none;
  }
  .navbar.active div {
    display: block;
  }
}