.tutorial-page{
    color:gainsboro;
    display:grid;
    grid-template-columns: auto auto auto;
    grid-template-areas: '. tutorial .'
}
.tutorial-page-block {
    grid-area: tutorial;
    padding: 20px;
}
.tutorial-page-header {
    text-align: center;
    margin-bottom: 20px;
    font-size: 24px;
    font-weight: bolder;
}
.tutorial-page-skills {
    display: flex;
    flex-direction: column;
    color:gainsboro;
    font-weight: bolder;
}
.tutorial-page-skills-header {
    font-size:24px;
    padding: 20px;
}
.tutorial-page-skill-row {
    display: flex;
    flex-direction: row;
}
.tutorial-page-skill-box {
    border:1px solid gainsboro;
    margin:5px;
    width:48px;
    height:48px;
    background: #0F2027;
}

.tutorial-page-skill-box-filled {
    border:1px solid gainsboro;
    margin:5px;
    width:48px;
    height:48px;
    background:darkcyan;
    opacity: 0.9;
}
.tutorial-page-skill-item-image {
    width:48px;
    height:48px;
    margin:5px;
}