.tutorials-page {
    color: gainsboro;
    display: grid;
    grid-template-columns: minmax() 900px minmax();
    grid-template-areas: ". list .";
    grid-template-rows:auto;
}
ul,
ol {
    list-style: none;
    padding: 0;
    list-style-type:none;
}
@media (max-width:48em){
    .tutorials-page{
        grid-template-areas: 'list'
    }
}
.tutorials-list  {
    margin-top: 5%;
    grid-area: list;
}

.tutorials-list-item {
    background-repeat: no-repeat;
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas: "icons texts";
    background-size: cover;
    padding: 5px;
    border:5px solid salmon;
    margin:5px;
}
.tutorials-list-item:hover{
    border:5px solid azure;
}
.tutorials-list-item-text {
    grid-area: texts;
    font-size:14px;
    font-weight: bolder;
}
.tutorials-list-item-icon {
    grid-area:icons;
    border:3px solid azure;
}

.tutorials-list-item-date {
    font-style: bolder;
    font-size: 12px;
}

.tutorials-list-item-link {
    display: block;
    text-align: center;
    padding: 1em;
    text-decoration: none;
    color: white;
  }