.tutorial-page{
    color:gainsboro;
    display:grid;
    grid-template-columns: auto auto auto;
    grid-template-areas: '. tutorial .'
}
.tutorial-page-block {
    grid-area: tutorial;
    padding: 20px;
}
.tutorial-page-header {
    margin-bottom: 20px;
    font-size: 24px;
    font-weight: bolder;
    padding: 20px;
}

