.main {
    font-size: 24px;
    font-weight: bolder;
    color:gainsboro;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding:150px;
    align-items: center;
    margin: 0 auto;
}

@media (max-width:48em){
    .main {
        padding: 10px;
        justify-content: space-evenly;
        text-align: center;
    }
  }